* {
    padding: 0px;
}

body {
    padding-top: 60px;
    background-color: #ecebe8;
}

label {
    padding-top: 5px;
}

.navbar-default {
    background-color: #1ed760;
    border-bottom: 0px;
}

.navbar-default .alert {
    padding-top: 50px;
}

.navbar-default .navbar-brand {
    color: #ecebe8;
}

.navbar-default a{
    color: #ecebe8;
}

.navbar-brand {
    float: none;
}

.navbar-header li {
    display: inline;
}

.fa + .navbar-brand {
    padding-left: 0px;
}

.form-control {
    margin-bottom: 10px;
}

.input-group + button {
    margin-top: 10px;
}

.navbar-header a {
    display: inline-block;
    padding: 18px 14px;
    margin: 0px 0px;
}

.navbar-header + .pull-right a {
   padding: 14px;
}

.navbar-header + .pull-right a.fa {
    padding: 18px 14px;
}

.navbar-header > .navbar-brand {
    padding-top: 14px;
}

.navbar-default .navbar-text {
    color: #ecebe8;
}

a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

a + a.navbar-brand {
    float: none;
}

.container-fluid > .navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}

.list-group-item {
    font-weight: bold;
}

.split-view-left {
    border-right: 4px;
    border-right-color: gray;
    border-right-style: solid;
    min-height: 93vh;
    padding: 0px 0px;
    top: 50px;
    bottom: 0px;
    position: absolute;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.split-view-left > nav {
    width: 25%;
    border-right-color: slategray;
    border-right-style: solid;
    border-right-width: 4px;
    opacity: 50%
}


.split-view-left > .partial-nav nav {
    width: 25%;
    border-right-color: slategray;
    border-right-style: solid;
    border-right-width: 4px;
    opacity: 50%;
}

@media(min-width: 992px) {
    .split-view-right {
        position: absolute;
        top: 50px;
        bottom: 0px;
        right: 0px;
        overflow-y: scroll;
        width: 75%;
    }
    .split-view-right > nav {
        width: 75%;
        right: 0px;
        left: 25vw;
    }
}

li.widget {
    list-style: none;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.form-group + label {
    padding-top: 0px;
}

.youtube-widget {
    padding-top: 35px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.youtube-widget iframe {
    position: absolute;
    top: 0px;
    left: 15px;
    right: 5px;
    width: 96%;
    height: 100%;
}

.widget-toolbar {
    position: absolute;
    background-color: white;
    border-radius: 2px;
    right: 15px;
    top: 5px;
}

.do-not-display{
    display: none;
}

.float {
    display: inline-block;
}

.border-below {
    border-bottom: 2px solid #000000;
}

.border-below + button {
    margin-top:10px;
}

.song-mini {
    border: 3px solid #000000;
    border-left: 0px;
    border-right: 0px;
    padding-left: -5px;
    padding-right: -5px;
    max-height: 100px;
    background-color: white;
}

.user-mini-group {
    margin-top: -12px;
}

.user-mini {
    border: 3px solid #000000;
    border-left: 0px;
    border-right: 0px;
    padding-left: -5px;
    padding-right: -5px;
    max-height: 100px;
}
.song-mini img{
    max-height: 94px;
    max-width: 210px;
}

.song-mini-group.party {
    margin-top: -9px;
}
 .list-group {
     margin-top: -10px;
 }

 .list-group-item a {
     color: rgb(51, 51, 51);
 }

.song-mini + .song-mini {
    padding-top: 0px;
    border-top: 0px;
}

.user-mini + .user-mini {
    padding-top: 0px;
    border-top: 0px;
}

.list-group-item .fa {
    padding-top: 5px;
    padding-bottom: 5px;
}

.vertical-center > a {
    padding-top:32px;
    padding-bottom: 32px;
    color: black;
}

.vertical-center > h4 {
    padding-top:20px;
    padding-bottom: 20px;
    color: black;
}

.song-mini .container-fluid {
    padding-left: -15px;
    padding-right: -15px;
}

.remove-padding-left {
    padding-left: 0px;
}

.btn-spotify {
    background-color: #1ed760;
    color: #ffffff;
}



.no-wrap {
    white-space:nowrap;
    overflow:hidden;
}