<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
        <div ng-switch="navModel.pageName" class="float">
            <div ng-switch-when="LOGIN">
                <a href="#/" class="fa fa-arrow-left fa-lg"></a>
            </div>
            <div ng-switch-when="REGISTER">
                <a href="#/login" class="fa fa-arrow-left fa-lg"></a>
            </div>
            <div ng-switch-when="PROFILE">
                <a href="#/" class="fa fa-arrow-left fa-lg"></a>
            </div>
            <div ng-switch-when="FOLLOW-USER">
                <a href="#/following" class="fa fa-arrow-left fa-lg"></a>
            </div>
            <div ng-switch-when="FOLLOWING">
                <a href="#/profile" class="fa fa-arrow-left fa-lg"></a>
            </div>
            <div ng-switch-when="ADMIN-LIST">
                <a href="#/" class="fa fa-arrow-left fa-lg"></a>
            </div>
            <div ng-switch-when="ADMIN-CREATE-USER">
                <a href="#/admin" class="fa fa-arrow-left fa-lg"></a>
            </div>
            <div ng-switch-when="USER-DETAILS">
                <a href="#/admin" class="fa fa-arrow-left fa-lg"></a>
            </div>
            <div ng-switch-when="PARTY-LIST">
                <a href="#/" class="fa fa-arrow-left fa-lg"></a>
            </div>
            <div ng-switch-when="PARTY">
                <a href="#/" class="fa fa-arrow-left fa-lg"></a>
            </div>
            <div ng-switch-when="NEW-SONG">
                <a ng-click="model.goToParty()" class="fa fa-arrow-left fa-lg"></a>
            </div>
            <div ng-switch-when="SONG-DETAILS">
                <a ng-click="model.goBack()" class="fa fa-arrow-left fa-lg"></a>
            </div>
        </div>
        <a class="navbar-brand" href="#/">{{model.pageTitle}}</a>
    </div>
    <div class="navbar-header pull-right">
        <div ng-switch="navModel.pageName">
            <div ng-switch-when="HOME">
                <a href="#/admin" ng-if="model.user.role === 'ADMIN'">Admin</a>
                <a ng-if="!model.user" href="#/login">Login</a>
                <a ng-if="model.user" href="#/profile">Profile</a>
                <a ng-if="model.user" ng-click="model.logout()">Logout</a>
            </div>
            <div ng-switch-when="PROFILE">
                <a class="fa fa-music fa-lg" href="#/party"></a>
                <a class="fa fa-users fa-lg" href="#/following"></a>
                <a class="fa fa-check fa-lg" ng-click="model.updateUser()"></a>
            </div>
            <div ng-switch-when="PARTY">
                <a class="fa fa-plus fa-lg" ng-click="model.goToSongSearch()"></a>
            </div>
            <div ng-switch-when="FOLLOWING">
                <a href="#/follow-user" class="fa fa-plus fa-lg"></a>
            </div>
            <div ng-switch-when="ADMIN-LIST">
                <a href="#admin/createUser" class="fa fa-plus fa-lg"></a>
            </div>
        </div>
    </div>
</nav>
