<main-nav></main-nav>

<div class="container-fluid">
    <h1 align="center">Welcome!</h1>
    <h2 align="center">Join a party by inputting a party ID below</h2>
    <div class="input-group">
        <input class="form-control" placeholder="Party ID">
        <span class="input-group-btn">
        <button ng-click="model.goToParty()" class="btn btn-secondary" type="button">Go!</button>
    </span></div>
    <button ng-click="model.createParty()" class="btn btn-block btn-primary">Create my own!</button>
</div>