<main-nav></main-nav>

<div class="container-fluid">
    <input type="text"
           ng-model="song.name"
           placeholder="Song Name"
           class="form-control">

    <button class="btn btn-block btn-success"
            ng-click="model.searchSong(song.name)">Search Songs</button>

    <ul>
        <li ng-repeat = "song in model.songs" ng-click="model.goToDetails(song.trackId)">
            <ng-include src="'/views/song/templates/song-mini.view.client.html'"></ng-include>
        </li>
    </ul>
</div>

