<main-nav></main-nav>

<div class="container-fluid">
    <label for="first">First Name</label>
    <input id="first" ng-model="model.user.firstName" class="form-control">
    <label for="last">Last Name</label>
    <input id="last" ng-model="model.user.lastName" class="form-control">
    <label for="username">Username</label>
    <input id="username" ng-model="model.user.username" class="form-control">
    <label for="Password">Edit User Password</label>
    <input id="password" ng-model="model.user.password" class="form-control" type="password" placeholder="New User Password">
    <div class="radio-inline">
        <label><input ng-model="model.user.role" ng-value="'USER'" type="radio">ROLE: USER</label>
    </div>
    <div class="radio-inline">
        <label><input ng-model="model.user.role" ng-value="'ADMIN'" type="radio">ROLE: ADMIN</label>
    </div>
    <div class="border-below">
        <h3>Users that {{model.user.username}} follows:</h3>
    </div>
    <div class="border-below" ng-include="'/views/user/templates/following.view.client.html'"></div>
    <button ng-click="model.updateUser()" class="btn btn-block btn-primary">Update User</button>
    <button ng-click="model.deleteUser()" class="btn btn-block btn-danger">Delete User</button>
</div>